*,
*::before,
*::after,:root {
  box-sizing: border-box;
  margin: 0;
}

:root {
    --font-color: rgb(37, 16, 49);
    --theme-color1: rgb(132, 177, 42);
    --theme-color2: lightgreen;
    --theme-color3: darkseagreen;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    
    min-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color);
}

.sidebar {
     background-color: var(--theme-color1);
     grid-row: 1 / -1;

     padding: 34px;
     display: grid;
     grid-template-rows: 0.2fr auto auto;
     justify-content: center;
}

.sidebar-section {
    margin-left: 5px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(43px, 1fr));


}

.sidebar-section:nth-child(2){
    margin-top: 25px;
}

.sidebar .sidebar-flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar .logo {
    width: 50px;
    fill: var(--font-color);
    margin-right: -15px;
}

.sidebar .logo-text {
    font-size: 1.8rem;
    font-weight: 700;
}

.sidebar .icon {
    width: 35px;
    fill: var(--font-color);
}

.sidebar [class^='link-']{
    font-size: 1.3rem;
}

.header { 
    background-color: var(--theme-color2);

}

.main-content {
    background-color: var(--theme-color3);
}