*,
*::before,
*::after,:root {
  box-sizing: border-box;
  margin: 0;
}

:root {
    --font-color: rgb(37, 16, 49);
    --theme-color1: rgb(132, 177, 42);
    --theme-color2: lightgreen;
    --theme-color3: darkseagreen;
}

body {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 4fr;
    
    min-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color);
}

.sidebar {
     background-color: var(--theme-color1);
     grid-row: 1 / -1;
}

.sidebar .sidebar-flex {
    display: flex;
    gap: 20px;
}

.sidebar .logo {
    width: 50px;
    fill: var(--font-color);
}

.sidebar .icon {
    width: 35px;
    fill: var(--font-color);
}

.header { 
    background-color: var(--theme-color2);

}

.main-content {
    background-color: var(--theme-color3);
}